.file-properties {
  display: flex;
  position: relative;
  align-items: center;
  font-size: var(--font-small);
  color: var(--color-text-help);
  margin-left: var(--spacing-medium);
  white-space: nowrap;

  & > *:not(:last-child) {
    margin-right: var(--spacing-small);
  }

  @media (max-width: $breakpoint-xsmall) {
    display: none;
  }
}

.file-properties--large {
  flex-wrap: wrap;
  margin-bottom: var(--spacing-large);
  margin-left: 0;

  & > * {
    margin-top: var(--spacing-small);
  }
}

.file-properties--small {
  font-size: var(--font-xsmall);
  line-height: 1.2;
  margin-left: 0;
  position: relative;

  .tag {
    font-size: var(--font-xsmall);
  }

  & > *:not(:last-child) {
    margin-right: var(--spacing-miniscule);
  }
}

.file-properties__purchased,
.file-properties__not-purchased {
  position: relative;
  display: flex;
  align-items: center;

  span,
  .icon {
    position: relative;
    margin-left: 0.75rem;
  }

  &::before {
    position: absolute;
    content: '';
    left: 0;
    right: -5rem;
    height: 1.75rem;
    transform: skew(20deg);
  }
}

.file-properties__purchased {
  margin-left: var(--spacing-xsmall);
  color: var(--color-gray-5);

  .icon {
    fill: white;
  }

  &::before {
    background-color: var(--color-purchased);
  }
}

.file-properties__not-purchased {
  color: var(--color-purchased-text);

  &::before {
    background-color: var(--color-purchased-alt);
    border: 2px solid var(--color-purchased);
  }
}

.file-properties__purchased--large,
.file-properties__not-purchased--large {
  font-size: var(--font-body);

  &::before {
    height: 3rem;
  }
}

.file-properties__purchased--large {
  top: -0.25rem;

  .icon {
    margin: 0 var(--spacing-medium);
    margin-left: var(--spacing-large);
  }
}

.file-properties__not-purchased--large {
  top: -0.25rem;

  span {
    margin: 0 var(--spacing-medium);
    margin-left: var(--spacing-large);
    top: -0.25rem;
  }

  &::before {
    border-width: 5px;
    border-top-width: 0;
  }
}
