.notifications__empty {
  background-color: var(--color-card-background);
  padding: var(--spacing-l);
}

.notification__icon {
}

.notification_list {
  > * {
    border-bottom: 1px solid var(--color-border);

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.notification__content {
  margin-left: var(--spacing-m);
}

.notification__text {
  font-size: var(--font-body);
}

.notification__time {
  @extend .help;
  margin-top: 0;
}
